[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2" = "*"
graphviz = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
httpie = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.5"
