@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navListItem {
  margin: 25px;
  list-style-type: none;

  .navitem {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 5px solid black;
    text-decoration: none;
    padding: 5px;

    &:hover {
      color: black;
      background-color: white;
      transition: all 0.5s;
    }
  }
}

input.is-invalid {
  background-color: pink;
}
